/* Main Variables */

$font-size-xxs: 7px;
$font-size-xs: 10px;
$font-size-s: 12px;
$main-font-size: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 21px;

$item-size-xxxs: 2px;
$item-size-xxs: 5px;
$item-size-xs: 10px;
$item-size-s: 16px;
$item-size-m: 28px;
$item-size: 32px;
$item-size-l: 40px;

$spacing-xxxs: 2px;
$spacing-xxs: 5px;
$spacing-xs: 10px;
$spacing-s: 15px;
$spacing: 20px;
$spacing-l: 25px;
$spacing-xl: 32px;

/* Other Variables */
$header-height: 120px;
$footer-height: 60px;
