@import '../../../css/colors.scss';
@import '../../../css/variables.scss';

.people-list {
  &-filter {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 250px;
      margin: 0 10px;
    }
    input::placeholder {
      font-style: italic;
    }
    input::-webkit-input-placeholder {
      font-style: italic;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &-paging {
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 1200px) {
  .people-list {
    &-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 800px) {
  .people-list {
    &-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 600px) {
  .people-list {
    &-filter {
      justify-content: center;
    }
    &-grid {
      grid-template-columns: 1fr;
    }
    &-paging {
      justify-content: center;
    }
  }
}
