@import '../../../css/colors.scss';
@import '../../../css/variables.scss';

.people-list {
  &-filter {
    padding: 10px 5px;
    display: flex;
    justify-content: end;
    align-items: center;

    input {
      width: 250px;
      margin: 0 10px;
    }
    input::placeholder {
      font-style: italic;
    }
    input::-webkit-input-placeholder {
      font-style: italic;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &-paging {
    display: flex;
    justify-content: end;
  }
}
