@import '../../../css/colors.scss';
@import '../../../css/variables.scss';

.footer {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: $footer-height;
  background-color: $grey-600;
  border-top: 1px solid $border-main-color;
  color: $text-secondary-color;

  &__container {
    margin-right: auto;
    margin-left: auto;
    padding-left: $spacing-s;
    padding-right: $spacing-s;

    small {
      font-size: $font-size-s;
    }
  }
}
